body {
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 600px;
}

h1 {
    text-align: left;
}

h2 {
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
}

h3 {
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
}

h4 {
    font-size: 11px;
}

h5 {
    font-size: 9px;
}

.responsibility {
    padding-left: 20px;
}

.responsibility li {
    font-size: 11px;
    margin-bottom: 0;
}

.bar {
    position: relative;
    min-height: 170px;
    margin-bottom: 10px;
    /*background-color: #1561bf;*/
    /*background-color: #2c7d49;*/
    color: white
}

.footer {
    font-size: 8px;
    text-align: center;
    /*background-color: #1561bf;*/
    /*background-color: #2c7d49;*/
    color: white;
    padding: 10px;
}

.photo {
    height: 100px;
}

    .photo img {
        position: absolute;
        top: 10px;
        right: 20px;
        object-fit: cover;
        height: 170px;
        width: 160px;
        z-index: 9999;
        box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    }

.personal-info{
    margin-top: 8px;
    font-size: 12px;
}

.personal-info a {
    color: white;
}

.icon {
    width: 20px;
}

.tab {
    position: relative;
    left: 24px;
}

.categorybox {
    margin: 1px;
}

.categorybox hr {
    margin: 0;
    width: 98%;
}

.categoryitem {
    margin-top: 10px;
}

.nopadding
{
    padding: 0;
}

.posterbox
{

    width: 100px;
    padding-right: 10px;
}

.poster {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.margintop10 {
    margin-top: 10px;
}

.marginbottom10 {
    margin-bottom: 10px;
}

.skills {
    margin: 0 0 5px 0;
}

.skills h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.skillitem {
    font-size: 14px;
}