<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <title>Filters</title>
</head>
<body class="panel-body">
    <div show-for-action="Index" class="panel-body bg-danger">
        <h2>Important Message</h2>
    </div>
    <div title="Cities">
        @RenderBody()
    </div>
</body>
</html>
