@model HomeIndexViewModel
@{
    Layout = "_EmptyLayout";
}


<table class="table table-condensed table-bordered table-striped">
    @foreach (var kvp in Model.StringDict)
    {
        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>
