<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <title>Filters</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts",false)
</body>
</html>
